@import url("fonts.css");
* {
  outline: none 0 !important; }

html, body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 22px;
  color: #262626;
  background-color: #f5f5f5; }
  @media (max-width: 767px) {
    html, body {
      font-size: 14px;
      line-height: 16px; } }

a:hover,
.btn:hover,
a:focus,
.btn:focus {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:hover,
a:focus {
  text-decoration: none; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

h2.title {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  margin: 55px auto;
  display: inline-block;
  padding: 0 45px;
  border-left: 3px solid #e22325;
  border-right: 3px solid #e22325;
  font-size: 40px;
  line-height: 35px; }
  @media (max-width: 767px) {
    h2.title {
      font-size: 20px;
      padding: 0 15px;
      line-height: 25px;
      margin: 35px auto; } }

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff; }
  header .navs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    header .navs a {
      color: #262626;
      font-size: 20px;
      margin-right: 35px; }
      @media (max-width: 1199px) {
        header .navs a {
          margin-right: 15px; } }
  header .head-menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    header .head-menu .nav-menu {
      margin: 0;
      display: block;
      width: 100%;
      text-align: center; }
      @media (max-width: 991px) {
        header .head-menu .nav-menu {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; } }
      header .head-menu .nav-menu li {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        padding: 0;
        max-width: 290px;
        width: 100%; }
        @media (max-width: 991px) {
          header .head-menu .nav-menu li {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1; } }
        header .head-menu .nav-menu li a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          height: 80px;
          font-weight: bold;
          color: #262626;
          text-transform: uppercase;
          font-family: 'Roboto Condensed', sans-serif;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          header .head-menu .nav-menu li a span {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center; }
          @media (max-width: 991px) {
            header .head-menu .nav-menu li a {
              height: 60px; } }
          header .head-menu .nav-menu li a i {
            margin-right: 30px;
            font-size: 20px; }
        header .head-menu .nav-menu li.active a {
          background-color: #e22325;
          color: #fff; }
          header .head-menu .nav-menu li.active a i {
            color: #fff200; }

footer {
  background-color: #f5f5f5; }
  footer .flex-container {
    height: 60px; }
  footer .copy-right {
    color: #939393;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.social .social-link {
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border: 1px solid #fff;
  color: #939393;
  margin-left: 10px; }
  @media (max-width: 767px) {
    .social .social-link {
      width: 30px;
      height: 30px;
      margin-left: 5px; } }
  .social .social-link.add-ico {
    background-color: transparent;
    border-color: #959595; }
  .social .social-link:hover, .social .social-link:focus {
    background-color: #e22325;
    border-color: #e22325;
    color: #fff; }

.footer-menu {
  line-height: 18px;
  padding-bottom: 40px;
  padding-top: 45px;
  background-color: #fff; }
  .footer-menu .title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    border-left: 3px solid #e22325;
    padding-left: 8px;
    line-height: 17px;
    margin-bottom: 15px; }
  .footer-menu .contact-info {
    margin-bottom: 10px;
    position: relative; }
    .footer-menu .contact-info:first-letter {
      padding-left: 33px; }
    .footer-menu .contact-info::before {
      font-family: 'FontAwesome';
      position: absolute;
      top: 0;
      left: 0;
      color: #e22325;
      font-size: 23px; }
    .footer-menu .contact-info.adres::before {
      content: '\f041'; }
    .footer-menu .contact-info.phone {
      color: #e22325; }
      .footer-menu .contact-info.phone::before {
        content: '\f10b'; }
    .footer-menu .contact-info.mail {
      color: #e22325; }
      .footer-menu .contact-info.mail::before {
        content: '\f0e0';
        font-size: 17px; }
  .footer-menu .footer-nav li {
    margin-bottom: 10px;
    position: relative; }
    .footer-menu .footer-nav li a {
      padding-left: 35px;
      color: #262626; }
      @media (max-width: 1199px) {
        .footer-menu .footer-nav li a {
          padding-left: 15px; } }
      .footer-menu .footer-nav li a:hover {
        text-decoration: underline; }
    .footer-menu .footer-nav li::before {
      content: '\f054';
      font-family: 'FontAwesome';
      color: #e22325;
      font-size: 11px;
      position: absolute;
      left: 0;
      top: 2px; }
    .footer-menu .footer-nav li.active a {
      color: #e22325; }
      .footer-menu .footer-nav li.active a:hover {
        text-decoration: none;
        cursor: default; }

.benefits {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .benefits {
      display: block; } }
  .benefits .benefit-item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 55px 0;
    text-align: center; }
    @media (max-width: 767px) {
      .benefits .benefit-item {
        padding: 25px 10px; } }
    .benefits .benefit-item:nth-child(1) {
      background-color: #e22325;
      color: #fff; }
    .benefits .benefit-item:nth-child(2) {
      background-color: #eaeaea; }
    .benefits .benefit-item:nth-child(3) {
      background-color: #fff200; }
    .benefits .benefit-item:nth-child(4) {
      background-color: #f5f5f5; }
    .benefits .benefit-item .txt {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      padding-top: 30px; }
      @media (max-width: 991px) {
        .benefits .benefit-item .txt {
          font-size: 16px; } }

.about-block {
  padding-bottom: 60px;
  background-color: #fff; }
  .about-block .about-description {
    text-align: center; }
  .about-block img {
    margin-top: 30px; }

.new-goods {
  padding-bottom: 60px;
  background-color: #f5f5f5; }
  .new-goods .btn-catalog {
    background-color: #e22325;
    border: 1px solid #e22325;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 45px;
    padding: 0 30px;
    border-radius: 30px; }
    .new-goods .btn-catalog:hover, .new-goods .btn-catalog:focus {
      background-color: #fff;
      color: #e22325; }

.goods-box {
  background-color: #fff;
  padding: 30px 15px 45px;
  border: 1px solid transparent;
  margin-bottom: 30px; }
  .goods-box:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #eeeeee;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
  .goods-box .title {
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif; }
    .goods-box .title span {
      display: block;
      font-size: 16px;
      color: #d9d9d9;
      font-family: 'Roboto', sans-serif;
      padding-top: 10px; }
  .goods-box .image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 330px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative; }
    .goods-box .image-wrapper.slider-arrow .owl-prev, .goods-box .image-wrapper.slider-arrow .owl-next {
      position: absolute;
      bottom: -4px;
      background-color: transparent;
      color: #000;
      display: none; }
      .goods-box .image-wrapper.slider-arrow .owl-prev:hover, .goods-box .image-wrapper.slider-arrow .owl-next:hover {
        color: #e22325; }
    .goods-box .image-wrapper.slider-arrow .owl-prev {
      left: 10px; }
    .goods-box .image-wrapper.slider-arrow .owl-next {
      right: 10px; }
    .goods-box .image-wrapper.slider-arrow:hover .owl-prev, .goods-box .image-wrapper.slider-arrow:hover .owl-next {
      display: block; }
    .goods-box .image-wrapper.slider-arrow:hover:after {
      display: none; }
    @media (max-width: 991px) {
      .goods-box .image-wrapper {
        height: 240px; } }
    .goods-box .image-wrapper:hover {
      cursor: pointer; }
      .goods-box .image-wrapper:hover:after {
        content: '\f06e';
        font-family: 'FontAwesome';
        color: #909090;
        position: absolute;
        bottom: 35px;
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: #eaeaea;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        border-radius: 50%; }
    .goods-box .image-wrapper img {
      max-width: 100%;
      width: auto;
      margin: 0 auto; }
    .goods-box .image-wrapper .owl-dots {
      position: absolute;
      bottom: 0;
      margin: 0; }
      .goods-box .image-wrapper .owl-dots .owl-dot span {
        width: 9px;
        height: 9px;
        border: 2px solid #cdcdcd;
        background-color: transparent;
        margin: 4px; }
      .goods-box .image-wrapper .owl-dots .owl-dot.active span {
        background-color: #e22325;
        border-color: #e22325; }

.random-block {
  background-color: #fff; }
  .random-block .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    @media (max-width: 767px) {
      .random-block .flex-row {
        display: block; } }
    .random-block .flex-row .flex-half {
      -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 400px;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      @media (max-width: 1199px) {
        .random-block .flex-row .flex-half {
          height: 260px; } }
      @media (max-width: 767px) {
        .random-block .flex-row .flex-half {
          display: block;
          height: auto; }
          .random-block .flex-row .flex-half .flex-half {
            height: 250px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; } }
      .random-block .flex-row .flex-half .btn {
        line-height: 45px;
        background-color: transparent;
        border: 2px solid #262626;
        border-radius: 30px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0 20px 0 35px; }
        @media (max-width: 991px) {
          .random-block .flex-row .flex-half .btn {
            padding: 0 10px 0 25px; } }
        .random-block .flex-row .flex-half .btn:hover, .random-block .flex-row .flex-half .btn:focus {
          background-color: #262626;
          color: #fff; }
        .random-block .flex-row .flex-half .btn i {
          margin-left: 10px; }
      .random-block .flex-row .flex-half .title {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 40px;
        margin-bottom: 15px;
        line-height: 40px; }
        @media (max-width: 1199px) {
          .random-block .flex-row .flex-half .title {
            font-size: 20px;
            line-height: 23px; } }
        @media (max-width: 991px) {
          .random-block .flex-row .flex-half .title {
            text-align: center; } }
      .random-block .flex-row .flex-half img {
        -o-object-fit: contain;
        object-fit: contain; }
      .random-block .flex-row .flex-half.gray {
        background-color: #eaeaea; }
      .random-block .flex-row .flex-half.bird-house {
        color: #fff;
        background: url("../img/bird_house.jpg") center center no-repeat;
        background-size: cover; }
        .random-block .flex-row .flex-half.bird-house .btn {
          border-color: #fff; }
          .random-block .flex-row .flex-half.bird-house .btn:hover, .random-block .flex-row .flex-half.bird-house .btn:focus {
            background-color: #fff;
            color: #262626; }
      .random-block .flex-row .flex-half.yellow {
        background-color: #fff200; }
      .random-block .flex-row .flex-half.combined {
        position: relative; }
        .random-block .flex-row .flex-half.combined .open-lnk {
          position: absolute;
          bottom: 17px;
          right: 17px;
          width: 80px;
          height: 80px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          color: #e22325;
          border-radius: 50%;
          background-color: #fff;
          -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2); }

@media (max-width: 1470px) {
  header .head-menu .nav-menu li {
    width: auto; }
    header .head-menu .nav-menu li a {
      padding: 0 10px; } }

@media (max-width: 1210px) {
  header .head-menu .nav-menu li a {
    font-size: 14px; }
    header .head-menu .nav-menu li a i {
      margin-right: 10px; } }

.main-slider .item {
  position: relative; }
  .main-slider .item .description {
    position: absolute;
    left: 200px;
    bottom: 80px; }
    @media (max-width: 1199px) {
      .main-slider .item .description {
        left: 100px;
        bottom: 30px; } }
    .main-slider .item .description .title {
      font-weight: 300;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      margin-bottom: 25px; }
      @media (max-width: 1199px) {
        .main-slider .item .description .title {
          font-size: 30px;
          line-height: 40px; } }
      .main-slider .item .description .title strong {
        display: block; }
    .main-slider .item .description .btn {
      color: #fff;
      background-color: transparent;
      font-weight: bold;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 70px;
      border: 3px solid #fff;
      padding: 0 25px 0 80px;
      font-family: 'Roboto Condensed', sans-serif;
      border-radius: 40px; }
      @media (max-width: 1199px) {
        .main-slider .item .description .btn {
          padding: 0 20px 0 30px;
          line-height: 50px;
          font-size: 20px; } }
      .main-slider .item .description .btn:hover, .main-slider .item .description .btn:focus {
        background-color: #fff;
        color: #262626; }
      .main-slider .item .description .btn i {
        margin-left: 30px; }
        @media (max-width: 1199px) {
          .main-slider .item .description .btn i {
            margin-left: 10px; } }

.main-slider .owl-nav {
  margin: 0; }
  .main-slider .owl-nav .owl-prev, .main-slider .owl-nav .owl-next {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -40px;
    background-color: #e22325;
    color: #fff; }
    @media (max-width: 1199px) {
      .main-slider .owl-nav .owl-prev, .main-slider .owl-nav .owl-next {
        width: 40px;
        height: 40px;
        margin-top: -20px; } }
    .main-slider .owl-nav .owl-prev:hover, .main-slider .owl-nav .owl-next:hover {
      background: url("../img/ribbon.png") center center no-repeat;
      background-size: cover; }
  .main-slider .owl-nav .owl-prev {
    left: 15px; }
  .main-slider .owl-nav .owl-next {
    right: 15px; }

.purpose {
  padding-top: 60px;
  padding-bottom: 110px; }
  @media (max-width: 991px) {
    .purpose {
      padding: 30px 0 50px; } }

.about-description {
  background-color: #fff; }

.white-bg {
  background-color: #fff;
  padding: 55px 0 60px;
  margin: 0 15px; }
  @media (max-width: 767px) {
    .white-bg {
      padding: 20px 0; } }

.row-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eaeaea; }
  @media (max-width: 767px) {
    .row-description {
      display: block; } }
  .row-description .description {
    padding: 10px 110px;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    @media (max-width: 1199px) {
      .row-description .description {
        padding: 10px 15px; } }
    .row-description .description strong {
      margin-bottom: 20px;
      display: block; }

.breadcrumb-nav {
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0; }
  .breadcrumb-nav.small {
    height: 50px; }
  .breadcrumb-nav li {
    padding: 0 15px;
    position: relative; }
    .breadcrumb-nav li:first-child {
      padding-left: 0; }
    .breadcrumb-nav li:not(:last-child):after {
      content: '\f054';
      font-family: 'FontAwesome';
      color: #e22325;
      position: absolute;
      right: -4px;
      top: 0;
      font-size: 10px; }
    .breadcrumb-nav li.active a {
      cursor: default;
      color: #262626; }
    .breadcrumb-nav li a {
      color: #939393;
      font-family: 'Roboto Condensed', sans-serif; }

.title-page-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 290px 0 60px; }
  @media (max-width: 991px) {
    .title-page-block {
      padding: 130px 0 10px; } }
  @media (max-width: 991px) {
    .title-page-block {
      padding: 80px 0 10px; } }
  .title-page-block .title {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    font-family: 'Roboto Condensed', sans-serif; }
    .title-page-block .title img {
      width: 90px;
      margin-left: 15px; }
    @media (max-width: 767px) {
      .title-page-block .title {
        font-size: 20px;
        line-height: 20px; }
        .title-page-block .title img {
          width: 60px; } }

.contacts-wrapper {
  background-color: #fff;
  padding-bottom: 50px; }
  .contacts-wrapper .flex-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      .contacts-wrapper .flex-input {
        display: block; } }
    .contacts-wrapper .flex-input .form-control {
      width: auto;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      @media (max-width: 767px) {
        .contacts-wrapper .flex-input .form-control {
          width: 100%; } }
    .contacts-wrapper .flex-input .divider {
      width: 30px; }
  .contacts-wrapper .btn {
    background-color: #e22325;
    color: #fff;
    text-transform: uppercase;
    line-height: 45px;
    padding: 0 55px;
    border-radius: 40px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif; }

.form-control {
  border: 1px solid #eeeeee;
  background-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px;
  margin-bottom: 30px; }
  .form-control:focus {
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }

.map {
  padding: 370px 0 40px;
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover; }
  .map .map-contacts {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px; }
    .map .map-contacts .info-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 767px) {
        .map .map-contacts .info-block {
          margin-bottom: 10px; } }
      .map .map-contacts .info-block .image {
        width: 80px;
        border-right: 3px solid #e22325; }
      .map .map-contacts .info-block .info {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 10px; }
        .map .map-contacts .info-block .info .title {
          font-size: 20px;
          line-height: 18px;
          margin-bottom: 10px;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: bold;
          text-transform: uppercase; }
        .map .map-contacts .info-block .info .txt {
          line-height: 18px; }

.container-large {
  max-width: 1550px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.slider-wrapper {
  max-width: 1800px;
  width: 100%;
  padding: 0 120px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 767px) {
    .slider-wrapper {
      padding: 0 15px; } }
  .slider-wrapper .slider-similar-goods {
    position: static; }
    .slider-wrapper .slider-similar-goods .owl-prev, .slider-wrapper .slider-similar-goods .owl-next {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      top: 50%;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid #a1a1a1;
      background-color: transparent;
      margin-top: -40px;
      color: #a1a1a1; }
      @media (max-width: 1199px) {
        .slider-wrapper .slider-similar-goods .owl-prev, .slider-wrapper .slider-similar-goods .owl-next {
          width: 40px;
          height: 40px;
          margin-top: -20px; } }
      @media (max-width: 767px) {
        .slider-wrapper .slider-similar-goods .owl-prev, .slider-wrapper .slider-similar-goods .owl-next {
          display: none; } }
      .slider-wrapper .slider-similar-goods .owl-prev:hover, .slider-wrapper .slider-similar-goods .owl-next:hover {
        background-color: transparent;
        -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
        border-color: transparent;
        color: #a1a1a1; }
    .slider-wrapper .slider-similar-goods .owl-prev {
      left: 15px; }
    .slider-wrapper .slider-similar-goods .owl-next {
      right: 15px; }

.similar-goods {
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .similar-goods {
      padding: 0; } }

.goods-description-card {
  background-color: #fff;
  padding-bottom: 100px; }
  .goods-description-card .card-description-content {
    padding-left: 40px; }
    @media (max-width: 991px) {
      .goods-description-card .card-description-content {
        padding-left: 0; } }
    .goods-description-card .card-description-content .title {
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 40px;
      line-height: 40px;
      position: relative;
      margin: 0; }
      @media (max-width: 1199px) {
        .goods-description-card .card-description-content .title {
          font-size: 30px;
          line-height: 30px; } }
      .goods-description-card .card-description-content .title:after {
        content: '';
        display: block;
        width: 3px;
        height: 30px;
        background-color: #e22325;
        position: absolute;
        left: -40px;
        top: 5px; }
      @media (max-width: 991px) {
        .goods-description-card .card-description-content .title {
          font-size: 20px;
          line-height: 20px; }
          .goods-description-card .card-description-content .title:after {
            display: none; } }
    .goods-description-card .card-description-content .divider {
      height: 1px;
      background-color: #eeeeee;
      margin: 45px 0; }
      @media (max-width: 991px) {
        .goods-description-card .card-description-content .divider {
          margin: 15px 0; } }
    .goods-description-card .card-description-content .description {
      margin-bottom: 35px; }
    .goods-description-card .card-description-content .made-from {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 10px;
      line-height: 15px; }
      .goods-description-card .card-description-content .made-from .name {
        color: #a1a1a1;
        width: 100px; }
      .goods-description-card .card-description-content .made-from .material {
        color: #262626; }
      .goods-description-card .card-description-content .made-from .separator {
        width: 200px;
        height: 1px;
        border-bottom: 1px dashed #a1a1a1;
        margin: 0 25px 0 15px; }
        @media (max-width: 1199px) {
          .goods-description-card .card-description-content .made-from .separator {
            width: 110px; } }
        @media (max-width: 991px) {
          .goods-description-card .card-description-content .made-from .separator {
            width: 60px; } }
        @media (max-width: 767px) {
          .goods-description-card .card-description-content .made-from .separator {
            display: none; } }
    .goods-description-card .card-description-content .divider-bottom {
      height: 1px;
      background-color: #eeeeee;
      margin-bottom: 15px;
      margin-top: 45px; }
    .goods-description-card .card-description-content .share-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 991px) {
        .goods-description-card .card-description-content .share-content {
          display: block; } }
      .goods-description-card .card-description-content .share-content .share-txt {
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        color: #262626;
        margin-right: 23px; }
        @media (max-width: 991px) {
          .goods-description-card .card-description-content .share-content .share-txt {
            margin-bottom: 10px; } }
      .goods-description-card .card-description-content .share-content .social .social-link {
        border-color: #959595; }
        .goods-description-card .card-description-content .share-content .social .social-link:hover {
          border-color: #e22325; }
    .goods-description-card .card-description-content .how-to-measure {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 35px;
      color: #e22325; }
      .goods-description-card .card-description-content .how-to-measure img {
        margin-right: 10px; }

.flex-slider .slider-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .flex-slider .slider-nav .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 115px;
    height: 115px;
    border: 2px solid transparent; }
    .flex-slider .slider-nav .nav-item.active {
      border-color: #a1a1a1; }

.sidebar-wrapper {
  background-color: #fff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px; }
  .sidebar-wrapper .panel-group {
    margin-bottom: 0; }
    .sidebar-wrapper .panel-group .panel {
      border-radius: 0; }
      .sidebar-wrapper .panel-group .panel .panel-heading {
        padding: 0; }
        .sidebar-wrapper .panel-group .panel .panel-heading .panel-title a {
          line-height: 50px;
          padding: 0 30px;
          position: relative;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Roboto Condensed', sans-serif;
          text-transform: uppercase;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis; }
          @media (max-width: 1199px) {
            .sidebar-wrapper .panel-group .panel .panel-heading .panel-title a {
              font-size: 14px; } }
          .sidebar-wrapper .panel-group .panel .panel-heading .panel-title a:after {
            content: '';
            display: block;
            width: 3px;
            height: 5px;
            top: 15px;
            left: 15px;
            background-color: #e22325;
            position: absolute;
            height: 18px; }
          .sidebar-wrapper .panel-group .panel .panel-heading .panel-title a.collapsed {
            font-weight: 400; }
            .sidebar-wrapper .panel-group .panel .panel-heading .panel-title a.collapsed:after {
              background-color: #a1a1a1; }
    .sidebar-wrapper .panel-group .panel-body {
      border-top-color: #eeeeee !important;
      padding: 0; }
      .sidebar-wrapper .panel-group .panel-body .sub-menu {
        margin: 0; }
        .sidebar-wrapper .panel-group .panel-body .sub-menu li a {
          line-height: 50px;
          font-family: 'Roboto Condensed', sans-serif;
          font-weight: 300;
          font-size: 20px;
          text-transform: uppercase;
          padding-left: 70px;
          color: #262626;
          border-bottom: 1px solid #eeeeee;
          display: block;
          position: relative; }
          @media (max-width: 1199px) {
            .sidebar-wrapper .panel-group .panel-body .sub-menu li a {
              font-size: 14px; } }
          .sidebar-wrapper .panel-group .panel-body .sub-menu li a:after {
            content: '\f054';
            position: absolute;
            top: 0;
            left: 30px;
            font-family: 'FontAwesome';
            font-size: 10px;
            color: #a7a7a7; }
        .sidebar-wrapper .panel-group .panel-body .sub-menu li:last-child a {
          border-bottom: 0; }
        .sidebar-wrapper .panel-group .panel-body .sub-menu li.active a {
          background-color: #e22325;
          color: #fff; }
          .sidebar-wrapper .panel-group .panel-body .sub-menu li.active a:after {
            color: #fff; }
  .sidebar-wrapper .benefit-aside-block {
    padding: 0 15px; }
    .sidebar-wrapper .benefit-aside-block .benefit-item {
      padding: 15px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: 1px dashed #eeeeee; }
      .sidebar-wrapper .benefit-aside-block .benefit-item:last-child {
        border-bottom: 0; }
      @media (max-width: 1199px) {
        .sidebar-wrapper .benefit-aside-block .benefit-item img {
          width: 40px; } }
      .sidebar-wrapper .benefit-aside-block .benefit-item .txt {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 10px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden; }
        @media (max-width: 1199px) {
          .sidebar-wrapper .benefit-aside-block .benefit-item .txt {
            font-size: 14px; } }

.filter-container {
  background-color: #fff;
  margin-top: -30px; }
  .filter-container .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    padding: 0 15px; }
  .filter-container .filter-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .filter-container .filter-flex .filter {
      -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
      flex-basis: 20%; }
      .filter-container .filter-flex .filter span {
        position: relative;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif; }
        .filter-container .filter-flex .filter span:after {
          content: '\f078';
          font-family: 'FontAwesome';
          color: #e22325;
          right: -20px;
          top: -2px;
          font-size: 10px;
          position: absolute; }
        @media (max-width: 1199px) {
          .filter-container .filter-flex .filter span {
            font-size: 13px; }
            .filter-container .filter-flex .filter span:after {
              right: -13px;
              top: -5px; } }
  .filter-container .filter-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #909090;
    font-family: 'Roboto Condensed', sans-serif; }
    .filter-container .filter-title img {
      margin-right: 30px;
      margin-left: 15px; }
    @media (max-width: 1199px) {
      .filter-container .filter-title {
        font-size: 14px; }
        .filter-container .filter-title img {
          margin: 0 10px; } }
