@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jdhi8a');
  src:  url('../fonts/icomoon.eot?jdhi8a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jdhi8a') format('truetype'),
    url('../fonts/icomoon.woff?jdhi8a') format('woff'),
    url('../fonts/icomoon.svg?jdhi8a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-footprint:before {
  content: "\e900";
}
.icon-house:before {
  content: "\e901";
}
.icon-kid:before {
  content: "\e902";
}
.icon-pillow:before {
  content: "\e903";
}
